.photoCard {
  background-color: rgb(247, 248, 249);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  width: 260px;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px 12px 4px 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.photoCard:hover {
  background: #f1f1f1;
}
.photoCard .imageGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photoCard .imageGroup img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-right: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.photoCard .star {
  cursor: pointer;
  color: rgb(222, 222, 229);
  font-size: 14px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  justify-self: flex-end;
}
.photoCard .favorite {
  color: rgb(62, 94, 242);
}