.popup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: column;
    width: 80vw;
    height: 70vh;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 36px 60px 60px;   
    
    .column {
        flex: 1;
    }
    
    h3 {
    margin: 0 0 10px;
    }
}
