#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

.popup {
  width: 70vw;
  height: 90vh;
  margin: auto;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.column {
  flex: 1;
  padding: 10px;
}

.photo-card {
  margin-bottom: 10px;
  text-align: center;
}

.star {
  cursor: pointer;
}

.star.favorite {
  color: gold;
}
